css
Copy code
body {
    font-family: 'Arial', sans-serif;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
}

#poetry, #pictures, #sweet-words {
    padding: 2rem 0;
}

.poetry-box {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 100%;
}

.poetry-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.poetry-text {
    font-size: 1rem;
    line-height: 1.5;
    white-space: pre-wrap;
    text-indent: 20px;
}

img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link {
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #ffc107;
}

.email-text {
    white-space: pre-wrap;
}
.email-box {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px;
}